body {
    font-family: Arial, Helvetica, sans-serif;
    color: #4a443f;
}

.navBar {
    background-color: #f5f0ed;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    min-width: 36px;
    margin: 10px;
    padding: 5px;

}

.mainMenu, .buyMenu {
    list-style: none;
    /* border: 2px solid blueviolet; */
    display: flex;    
    color: #807569;
}

.buyMenu {
    justify-content: right;
    width: 30%;
}

.mainMenu {
    justify-content: left;
    width: 70%;
}

.menuButton {
    background-color: #f5f0ed;
    border-color: #f5f0ed;
    height: 38px;
    color: #807569;
    padding: 5px;
    font-size: 16pt;
    margin-left: 15px;
    margin-right: 15px;
}

.promoContainer {
    display: block;
    justify-content: center;
}

.promoImage {
    width: 100%;
}


.UPS_Container {
    border: 2px solid red;
    display: flex;
    margin: 20px 10px;
    padding: 10px;
}

.productContainer {
    border: 1px solid #72a008;
    width: 30%;
    padding: 20px;
    display: block;
   
    
}

.productPhoto:hover {
    border-bottom: 5px solid #72a008;
    width: 90%;
}

.price {
    font-size: 20pt;
    color: #72a008;
}

.buyButton {
    border: 2px solid #72a008;
    border-radius: 5px;
    background-color: #72a008;
    height: 36px;
    color: white;
    font-size: 18pt;
    padding: 5px;
}

.customerPhoto {
    border: 2px solid #72a008;
    border-radius: 30px;
    min-height: 80px;
}

input {
    width: 80%;
    height: 24pt;
    margin: 20px;
    color: #807569;
    font-size: 16pt;
    border: 2px solid #72a008;
    border-radius: 5px;
}



.loginContainer {
    border: 2px solid gainsboro;
    margin: 50px;
    padding: 50px;
    max-width: 80%;
}

.inputContainer {
    background-color: #f5f0ed;
    color: #807569;
    font-size: 16pt;
    margin: 20px;
}

.inputForm {
    background-color: #f5f0ed;
    color: #807569;
    font-size: 16pt;

}

input[type=checkbox] {
    width: 18pt;
    height: 18pt;
    margin-left: 20px;
    border: 2px solid #72a008;
    border-radius: 5px;
}


input[type=button] {
    background-color: #72a008;
    color: #f5f0ed;
    width: 120px;
}

#UserSalutations {
    width: 300px;
    height: 24pt;
    margin: 20px;
    color: #807569;
    font-size: 16pt;
    border: 2px solid #72a008;
    border-radius: 5px;
 }
